/Frontend/shs_wiki/node_modules
/Frontend/shs_wiki/.pnp
.pnp.js

# testing
/Frontend/shs_wiki/coverage

# next.js
/Frontend/shs_wiki/.next/
/Frontend/shs_wiki/out/

# production
/Frontend/shs_wiki/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel







# compiled output
/Backend/shs_wiki/dist
/Backend/shs_wiki/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json